

body {
  background-color: #070606;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

.wrapper {
  background-color: #f4efea;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.small-input {
  width: 60px;
  height: 30px;
  padding: 2px 5px;
  font-size: 18px; /* Shrinks the text inside too */
}

.large-input {
  width: 120px;
  height: 30px;
  padding: 2px 5px;
  font-size: 18px; /* Shrinks the text inside too */
}

.default-input {
  background-color: #f4efea;
  width: 60px;
  height: 30px;
  padding: 2px 5px;
  font-size: 15px; /* Shrinks the text inside too */
}

.default-large-input {
  background-color: #f4efea;
  width: 80px;
  height: 30px;
  padding: 2px 5px;
  font-size: 15px; /* Shrinks the text inside too */
}
